@charset "UTF-8";
body {
	background: #D6F8D6;
    color: #92bbf0;
    font-size: medium;
	text-align: center;
    font-family: 'Alkatra', cursive;
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Place canvas behind content */
}

.navbar {
    font-family: 'Alkatra', cursive;
    overflow: hidden;
    background-color: #D6F8D6;
    width: 100%;
    display: flex;
    justify-content: center; /* Center align navbar items */
}

.navbar a {
    font-size: 28px;
    color: #7FC6A4;
    text-align: center;
    padding: 1px 20px; /* Reduced padding */
    text-decoration: underline;
    margin: 20px 10px; /* Equal margin for better spacing */
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #45a049; /* Hover effect for navbar links */
}



.text1 {
  text-align:center;
 background-color: transparent;
  color:#7FC6A4;
  font-family:'Alkatra', cursive;
  font-weight:500;
  font-size:48px;
  padding-top:5vh;
  padding-bottom:48px;
  padding-right:4vh;
  height:30vh;
  width: 35vh;
	overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}


h1{
    font-size: 36px;
    text-align: center;
    color: #7FC6A4;
    font-weight: bold;
    margin-top:50px;
    
}

p {
  font-size:24px;
  color:#55505C;
  margin-top:24px;
  margin-left:200px ;
  margin-right: 200px;
}